<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <plugins>
        <!--针对executor的拦截器-->
        <plugin interceptor="org.apache.ibatis.wyjdemo.MyExecutorPlugin"></plugin>
        <!--针对executor2的拦截器-->
        <plugin interceptor="org.apache.ibatis.wyjdemo.MyExecutorPlugin2"></plugin>
        <!--针对StatementHandler的拦截器-->
        <plugin interceptor="org.apache.ibatis.wyjdemo.MyStatementPlugin"></plugin>
        <!--针对ResultHandler的拦截器-->
        <plugin interceptor="org.apache.ibatis.wyjdemo.MyResultPlugin"></plugin>
        <!--针对ParameterHandler的拦截器-->
        <plugin interceptor="org.apache.ibatis.wyjdemo.MyParameterPlugin"></plugin>
    </plugins>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
            </transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/test"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--1、通过package配置，优先级最高（会扫描这个目录下的所有Mapper）-->
        <package name="org.apache.ibatis.wyjdemo"/>
        <!--2、通过resource配置，还可以通过url,class;相关源码见-> org.apache.ibatis.builder.xml.XMLConfigBuilder.mapperElement-->
        <!--<mapper resource="org/apache/ibatis/wyjdemo/MbGoodsMapper.xml"/>-->
    </mappers>
</configuration>